../.BrowserLock/
	../.CFUserTextEncoding
	../.DS_Store
	../.adobe/
	../.aws/
	../.bash_history
	../.bash_profile
	../.bash_sessions/
	../.bashprofile
	../.bashrc
	../.cache/
	../.cricut-design-space/
	../.cups/
	../.docker/
	../.gitconfig
	../.ipynb_checkpoints/
	../.ipython/
	../.jupyter/
	../.lesshst
	../.mysql_history
	../.npm/
	../.nvm/
	../.oh-my-zsh/
	../.ollama/
	../.oracle_jre_usage/
	../.python_history
	../.redhat/
	../.swiftpm/
	../.viminfo
	../.vscode/
	../.yarnrc
	../.zcompdump
	../.zcompdump-ANB's MacBook-5.9
	../.zcompdump-ANB's MacBook-5.9.zwc
	../.zprofile
	../.zprofile.macports-saved_2025-02-19_at_11:28:08
	../.zprofile.pysave
	../.zsh_history
	../.zsh_sessions/
	../.zshrc
	../.zshrc.pre-oh-my-zsh
	../Applications/
	../Creative Cloud Files Personal Account ayannah.buford@bbrilliant.design 31DE52EC459EB45E992016B6@AdobeID/
	../Desktop/
	../Documents/
	../Downloads/
	../Library/
	../Movies/
	../Music/
	../Pictures/
	../Public/
	../Sites/
	../Untitled.ipynb
	../auto_detect.sh
	../ayannah-gpt/
	../copilot-codespaces-vscode/
	../git-basics/
	../jupyter_notebooks/
